@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<div class="row">
    <div class="col-3 menu">
    </div>

<div class="welcomeClass">
<div class="col-6">
<h1>Welcome!</h1>
</div>

    <div class="col-3">

    </div>
</div>
</div>

<div class="row">
    <div class="col-3 menu">
    </div>

    <div class="welcomeClass">
        <div class="col-6">
            <input id="one" type="button" value="Find Routes" onclick="location.href='@Url.Action("Index", "Route")'" />
            @if (ViewBag.Member != null)
            {
            <p>Member's should <a asp-controller="User" asp-action="logOn">Log On.</a> </p>
            <a asp-controller="User" asp-action="register">Sign Up! It's Free!</a>
            }
        </div>
        <div class="col-3">

        </div>

    </div>

</div>
<br />