@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="row">
    <div class="col-2 menu">
        <ul>
            <li><button type="button" id="two">Find Route</button></li>
            <li><button type="button" id="two">Trail Blaze!</button></li>
            <li><button type="button" id="two">Plans</button></li>
            <li><button type="button" id="two">Friends</button></li>
            <li><button type="button" id="two">Mail</button></li>
            <li><button type="button" id="two">Chats</button></li>
            <li><button type="button" id="two" onclick="User.LogOff()">LogOff</button></li>
        </ul>
    </div>
    <div class="col-1">

    </div>

    <div class="col-6">

    </div>

    <div class="col-3">

    </div>
</div>


<div class="row">
    <div class="col-3 menu">
    </div>
    <div class="col-6">


    </div>

    <div class="col-3">

    </div>
</div>