@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="row">
    <div class="col-2 menu">
        <ul>
            <li><input id="two" type="button" value="Find Routes" onclick="location.href='@Url.Action("Index", "Route")'" /></li>
            <li><input id="two" type="button" value="Trail Blaze!" onclick="location.href='@Url.Action("SaveRoute", "Route")'" /></li>
            <li><input id="two" type="button" value="Favorite Routes" onclick="location.href='@Url.Action("SaveRoute", "Route")'" /></li>
            <li><input id="two" type="button" value="Plans" )'" /></li>
            <li><input id="two" type="button" value="Friends" )'" /></li>
            <li><input id="two" type="button" value="Mail" )'" /></li>
            <li><input id="two" type="button" value="Chats" )'" /></li>
            <li><input id="two" type="button" value="LogOff" onclick="location.href='@Url.Action("LogOff", "User")'" /></li> <!-- TODO - Thank you https://stackoverflow.com/questions/2503923/html-button-calling-an-mvc-controller-and-action-method -->
        </ul>
    </div>
    <div class="col-1">

    </div>

    <div class="col-6">
            
    </div>

    <div class="col-3">

    </div>
</div>


<div class="row">
    <div class="col-3 menu">
    </div>
    <div class="col-6">


    </div>

    <div class="col-3">

    </div>
</div>