@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication1.ViewModels.LogOnViewModel
@{

}
<div class="row">
    <div class="col-3 menu">
    </div>
    <div class="col-6">

        LogOn:

    </div>
    <div class="col-3">

    </div>
</div>


<div class="row">
    <div class="col-3 menu">
    </div>
    <div class="col-6">

        <form asp-controller="User" asp-action="LogOn" method="post">

            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <input id="two" type="submit" value="Sign In!" />
            <p>Not a Member? 
            <a asp-controller="User" asp-action="register">Sign Up! It's Free!</a></p>
            @if (ViewBag.ErrorMessage != null)
    {
        <p>@ViewBag.ErrorMessage<a asp-controller="User" asp-action="Register">Sign Up Here!</a></p>

}

        </form>
    </div>
    <div class="col-3">

    </div>
</div>
