@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication1.ViewModels.LogOnViewModel
@{

}
LogOn!!!

<form asp-controller="User" asp-action="LogOn" method="post">

    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <input type="submit" value="Sign In!" />
    @if (ViewBag.ErrorMessage != null)
    {
        <p>@ViewBag.ErrorMessage<a asp-controller="User" asp-action="Register">Sign Up Here!</a></p>

    }

</form>