<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="\WebApplication1\StyleSheet.css" />
    <title>@ViewData["Title"] - WebApplication1</title>

    <style>

        body{
            background-color: orange;
        }
        

    </style>

</head>
<body>
    

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WebApplication1</p>
        </footer>
</body>
</html>
