@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-3 menu">
    </div>

    <div class="welcomeClass">
        <div class="col-6">
            <iframe width="560" height="420" frameborder="0" style="border:0" src="//www.google.com/maps/embed/v1/directions?origin=NorthWest+Transfer+Center+Hillsborough+County
      &waypoints=Race+Track+Rd+and+Gunn+Hwy|Boy+Scout+Rd+and+Tarpon+Springs+Rd|Klosterman+Rd+and+US+19|Klosterman+Rd+and+Palm+Harbor+Blvd
      &destination=Clearwater+Beach+Florida
      &key=AIzaSyBz7JvC_AzB7U4wypx3-Mcbcpb-BK1WU-w"></iframe>
        </div>

        <div class="col-3">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-3 menu">
    </div>


        <div class="col-6">
        </div>
        <div class="col-3">
        </div>
</div>
<br />